body {
    color: #333333;
    background-color: #F8F8F8;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-weight: normal;
}

p, span, .textlist {
    font-family: Georgia, Times, "Times New Roman", serif;
}

pre, code {
    font-family: Consolas, monaco, monospace;
}

a {
    color: #333333;
}

.header {
    border-bottom: 1px solid gray; 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80%;
    margin-top: 4px;
}

.header li a {
    border: 1px solid gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: -1px;
}

.header .pure-menu-selected a {
    border-bottom: 1px solid #F8F8F8;
}

.title {
    background: url('clumsy-icon.png') no-repeat center left;
    background-size: 48px;
    padding: 1em 0;
    margin: 1em 0.5em;
}
.title h1 {
    margin: 0 0 0 64px;
}
.title-no-image {
    padding: 1em 0;
    margin: 1em 0;
}
.title-no-image h1 {
    margin: 0;
}

.centered {
    margin: 0 auto;
    max-width: 960px;
}

.demo {
    display: block;
    margin: 0 auto;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 2px;
}

.centered-img {
    display: block;
    margin: 0 auto;
}

.footer {
    margin-bottom: 2em;
    text-align: right;
}
.footer p {
    margin-right: 2em;
}

.snap {
    margin-top: 0;
    margin-bottom: 0;
}

pre {
    margin: 0 4em;
}


